In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import math

In [70]:
def getIndusText(index):
    URL = "https://www.indus.epigraphica.de/icitview.php"
    page = requests.post(URL, auth=('icit', 'seal123'), data ={'idicit': str(index)})
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find_all("table")
    if(len(results) > 1):
        enc = pd.read_html(results[1].prettify())[0]
        if 'text' in enc.columns:
            enc = enc.dropna(subset=['text'])
            return enc
        return pd.DataFrame()
    return pd.DataFrame()

In [71]:
# results = soup.find_all("table")
# print(len(results))
# #print(results[1].prettify())
# from IPython.display import HTML
# display(HTML("".join(results[1].prettify())))
# print(2)
# display(HTML("".join(results[2].prettify())))
# print(3)
# display(HTML("".join(results[3].prettify())))

In [72]:
getIndusText(300)

,class,lines,direction,text,signs,complete,alignment,sign height,images
1,PP,1,R/L,+740-048-741-851+,4,Y,NaN,NaN,NaN
3,UC,1,R/L,+700-033-711-335-575-413+,6,Y,NaN,NaN,NaN

In [74]:
df = pd.DataFrame()
start = 500
end = 750
for i in range(start,end):
    print(i)
    df = df.append(getIndusText(i))
filename = f'extracted_script_{start}-{end}.csv'
df.to_csv(filename)
df

500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749

,class,lines,direction,text,signs,complete,alignment,sign height,images
1,??,1,NaN,]003-000+,2,N,NaN,NaN,NaN
1,UC,1,R/L,+534-556+,2,Y,NaN,NaN,NaN
1,SS,1,R/L,+405-003+,2,Y,Linear,Equal,NaN
1,??,1,R/L,+550-000+,2,N,NaN,NaN,NaN
1,NV,1,R/L,+032-700+,2,Y,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1,UC,1,R/L,+740-000[,2,N,Linear,Equal,NaN
3,UC,1,NaN,]817+,1,?,Indefinable,Indefinable,NaN
1,NU,1,NaN,+032+,1,Y,Indefinable,Indefinable,NaN
1,VN,1,R/L,+700-032+,2,Y,NaN,NaN,NaN
3,SS,1,R/L,+400-740-575-017-798+,5,Y,NaN,NaN,NaN

In [59]:
df

,class,lines,direction,text,signs,complete,alignment,sign height,images
1,UC,1,NaN,]405+,1,?,Indefinable,Indefinable,NaN
1,PP,1,R/L,+740-048-741-851+,4,Y,NaN,NaN,NaN
3,UC,1,R/L,+700-033-711-335-575-413+,6,Y,NaN,NaN,NaN
1,VN,1,R/L,+700-031[,2,?,NaN,NaN,NaN
3,UC,1,L/R,+400-740-000[,3,N,NaN,NaN,NaN
1,SC,1,R/L,]220-700[,2,?,NaN,NaN,NaN
3,UC,1,R/L,]740-840[,2,?,NaN,NaN,NaN
1,SP,1,R/L,+151-760-220-003-002-861+,6,Y,Stacked linear,Unequal,NaN
1,ZN,1,R/L,+255-033[,2,?,NaN,NaN,NaN
3,UC,1,R/L,+416-590-033[,3,?,NaN,NaN,NaN

In [60]:
df = getIndusText(276)

In [61]:
df

Empty DataFrame
Columns: []
Index: []

In [65]:
start = 1
end = 100
name = f'extracted_script_{start}-{end}.csv'
print(name)

extracted_script_1-100.csv