In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import math

In [54]:
def getIndusText(index):
    URL = "https://www.indus.epigraphica.de/icitview.php"
    page = requests.post(URL, auth=('icit', 'seal123'), data ={'idicit': str(index)})
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find_all("table")
    if(len(results) > 1):
        enc = pd.read_html(results[1].prettify())[0]
        enc = enc.dropna(subset=['text'])
        return enc
    return pd.DataFrame()

In [55]:
URL = "https://www.indus.epigraphica.de/icitview.php"
page = requests.post(URL, auth=('icit', 'seal123'), data ={'idicit': "407"})
soup = BeautifulSoup(page.content, "html.parser")

In [56]:
results = soup.find_all("table")
print(len(results))
#print(results[1].prettify())
from IPython.display import HTML
display(HTML("".join(results[1].prettify())))
print(2)
display(HTML("".join(results[2].prettify())))
print(3)
display(HTML("".join(results[3].prettify())))

4

2

3

In [57]:
getIndusText(300)

,class,lines,direction,text,signs,complete,alignment,sign height,images
1,PP,1,R/L,+740-048-741-851+,4,Y,NaN,NaN,NaN
3,UC,1,R/L,+700-033-711-335-575-413+,6,Y,NaN,NaN,NaN

In [67]:
df = pd.DataFrame()
start = 200
end = 300
for i in range(start,end):
    print(i)
    df = df.append(getIndusText(i))
filename = f'extracted_script_{start}-{end}.csv'
df.to_csv(filename)
df

200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299

,class,lines,direction,text,signs,complete,alignment,sign height,images
1,PP,1,R/L,+031-034-060-692[,4,?,NaN,NaN,NaN
1,UC,1,NaN,+692+,1,?,Indefinable,Indefinable,NaN
1,SS,1,R/L,+740-710-017[,3,?,NaN,NaN,NaN
1,UC,1,NaN,]000-000-000[,3,N,NaN,NaN,NaN
1,UC,1,R/L,+400-740-000[,3,N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1,SS,1,R/L,+520-233-240+,3,Y,NaN,NaN,NaN
3,PP,1,R/L,+400-740-455+,3,Y,NaN,NaN,NaN
1,??,1,R/L,+000-000-000+,3,N,NaN,NaN,NaN
3,??,1,R/L,+400-740-000-000+,4,N,NaN,NaN,NaN
1,UC,1,NaN,]405+,1,?,Indefinable,Indefinable,NaN

In [59]:
df

,class,lines,direction,text,signs,complete,alignment,sign height,images
1,UC,1,NaN,]405+,1,?,Indefinable,Indefinable,NaN
1,PP,1,R/L,+740-048-741-851+,4,Y,NaN,NaN,NaN
3,UC,1,R/L,+700-033-711-335-575-413+,6,Y,NaN,NaN,NaN
1,VN,1,R/L,+700-031[,2,?,NaN,NaN,NaN
3,UC,1,L/R,+400-740-000[,3,N,NaN,NaN,NaN
1,SC,1,R/L,]220-700[,2,?,NaN,NaN,NaN
3,UC,1,R/L,]740-840[,2,?,NaN,NaN,NaN
1,SP,1,R/L,+151-760-220-003-002-861+,6,Y,Stacked linear,Unequal,NaN
1,ZN,1,R/L,+255-033[,2,?,NaN,NaN,NaN
3,UC,1,R/L,+416-590-033[,3,?,NaN,NaN,NaN

In [60]:
df = getIndusText(276)

In [61]:
df

Empty DataFrame
Columns: []
Index: []

In [65]:
start = 1
end = 100
name = f'extracted_script_{start}-{end}.csv'
print(name)

extracted_script_1-100.csv