In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import math

In [70]:
def getIndusText(index):
    URL = "https://www.indus.epigraphica.de/icitview.php"
    page = requests.post(URL, auth=('icit', 'seal123'), data ={'idicit': str(index)})
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find_all("table")
    if(len(results) > 1):
        enc = pd.read_html(results[1].prettify())[0]
        if 'text' in enc.columns:
            enc = enc.dropna(subset=['text'])
            return enc
        return pd.DataFrame()
    return pd.DataFrame()

In [71]:
# results = soup.find_all("table")
# print(len(results))
# #print(results[1].prettify())
# from IPython.display import HTML
# display(HTML("".join(results[1].prettify())))
# print(2)
# display(HTML("".join(results[2].prettify())))
# print(3)
# display(HTML("".join(results[3].prettify())))

In [72]:
getIndusText(300)

,class,lines,direction,text,signs,complete,alignment,sign height,images
1,PP,1,R/L,+740-048-741-851+,4,Y,NaN,NaN,NaN
3,UC,1,R/L,+700-033-711-335-575-413+,6,Y,NaN,NaN,NaN

In [75]:
df = pd.DataFrame()
start = 750
end = 1000
for i in range(start,end):
    print(i)
    df = df.append(getIndusText(i))
filename = f'extracted_script_{start}-{end}.csv'
df.to_csv(filename)
df

750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

,class,lines,direction,text,signs,complete,alignment,sign height,images
1,UC,1,R/L,+400-090[,2,?,NaN,NaN,NaN
3,UC,1,NaN,]000[,1,N,Indefinable,Indefinable,NaN
1,VN,1,R/L,+700-033+,2,Y,NaN,NaN,NaN
3,PP,1,R/L,+400-236-220+,3,Y,NaN,NaN,NaN
1,VN,1,R/L,+700-034+,2,Y,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1,NU,1,NaN,+032+,1,Y,Indefinable,Indefinable,NaN
1,UC,1,NaN,+002+,1,Y,Indefinable,Indefinable,NaN
1,NU,1,NaN,+033+,1,Y,Indefinable,Indefinable,NaN
1,??,1,NaN,+000-003+,2,N,NaN,NaN,NaN
1,UC,1,NaN,+645-645+,2,Y,NaN,NaN,NaN

In [59]:
df

,class,lines,direction,text,signs,complete,alignment,sign height,images
1,UC,1,NaN,]405+,1,?,Indefinable,Indefinable,NaN
1,PP,1,R/L,+740-048-741-851+,4,Y,NaN,NaN,NaN
3,UC,1,R/L,+700-033-711-335-575-413+,6,Y,NaN,NaN,NaN
1,VN,1,R/L,+700-031[,2,?,NaN,NaN,NaN
3,UC,1,L/R,+400-740-000[,3,N,NaN,NaN,NaN
1,SC,1,R/L,]220-700[,2,?,NaN,NaN,NaN
3,UC,1,R/L,]740-840[,2,?,NaN,NaN,NaN
1,SP,1,R/L,+151-760-220-003-002-861+,6,Y,Stacked linear,Unequal,NaN
1,ZN,1,R/L,+255-033[,2,?,NaN,NaN,NaN
3,UC,1,R/L,+416-590-033[,3,?,NaN,NaN,NaN

In [60]:
df = getIndusText(276)

In [61]:
df

Empty DataFrame
Columns: []
Index: []

In [65]:
start = 1
end = 100
name = f'extracted_script_{start}-{end}.csv'
print(name)

extracted_script_1-100.csv